.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.app-container.fullscreen {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.clock-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6rem 0 3rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  width: 50%;
  cursor: pointer;
}

.fullscreen-clock-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1001;
}

.fullscreen-clock-container .clock-face{
  color: var(--white);
}

.clock-face {
  font-size: 6rem;
  font-weight: 700;
  font-family: clockicons, sans-serif;
  position: relative;
}

.date-display {
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: 400;
  color: #777;
}

.city-time-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.city-time-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.city-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.city-time {
  font-size: 1rem;
  font-weight: bold;
}

.city-date {
  font-size: 0.9rem;
  color: #555;
}

.time-difference {
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
}

.wall-clock-holder {
  width: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  position: relative;
}

.fullscreen-clock-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1001;
}

.wall-clock-container {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  transform: scale(1.5);
}

.app-container.fullscreen > *:not(.clock-section) {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.app-container.fullscreen > .clock-section {
  transition: opacity 0.5s ease-in-out;
}
.app-container.fullscreen > .clock-section > *:not(.fullscreen-clock-container):not(.fullscreen-clock-holder) {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.app-container.fullscreen > .clock-section > .fullscreen-clock-container,
.app-container.fullscreen > .clock-section > .fullscreen-clock-holder {
  opacity: 1;
}

.wall-clock-hand {
  position: absolute;
  background-color: black;
  transform-origin: bottom center;
  border-radius: 5px;
  z-index: 2;
}

.wall-clock-hour-hand {
  width: 6px;
  height: 50px;
  top: 50px;
  left: calc(50% - 3px);
}

.wall-clock-minute-hand {
  width: 4px;
  height: 75px;
  top: 25px;
  left: calc(50% - 2px);
}

.wall-clock-second-hand {
  width: 2px;
  height: 90px;
  top: 10px;
  left: calc(50% - 1px);
  background-color: red;
}
@media (max-width: 1400px) {
  .clock-face {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .clock-section {
      flex-direction: column;
      align-items: center;
  }

  .clock-container {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .clock-face {
      font-size: 6rem;
  }

  .date-display {
      font-size: 1.2rem;
  }

  .city-time-container {
      flex-direction: column;
      align-items: center;
  }

  .city-time-card {
      width: 90%;
      margin: 0.5rem 0;
  }

  .city-name {
      font-size: 1.1rem;
  }

  .city-time {
      font-size: 0.9rem;
  }

  .city-date {
      font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .container {
      padding-left: 5px;
      padding-right: 5px;
  }
}